<div class="row">
  <div class="col-12">
    <p class="text-center">Please sign in </p>
    <p class="text-center"><a href="/auth/google/" class="btn btn-danger btn-login">with Google+</a></p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>What is SongBuzz?</h1>
    <p>Think of SongBuzz as a YouTube MP3 Player. You add YouTube videos to playlists and then listen to them using a minimal interface. YouTube has playlists, sure, but the YouTube interface is busy and cluttered with all sorts of non-sense you don't care about when all you want to do is listen to some music.</p>
    <h1>Why SongBuzz?</h1>
    <p>You might think why bother with SongBuzz just to listen to music, I already have a ton of CDs and music in iTunes. That may be but there's a wealth of great mixes, live concerts and more on YouTube. SongBuzz provides a quick an easy way to put those into playlists and provides an interface that gets to listening right away. In future versions you will be able to easily view your friends playlist and copy them for yourself if you really like them.<p>
    <h1>How do I get started?</h1>
    <p>SongBuzz allows you to sign in immediately using your <a href="https://plus.google.com">Google Plus</a> account, no time confusing registration. Just click the sign in button. Once logged in add a new playlist on the left and then start searching for songs and adding them. Click play and it'll start going through your playlist.</p>
  </div>
</div>
