<!DOCTYPE html>
<html lang="en" class="ng-app:songbuzz" id="ng-app" ng-app="songbuzz" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8" />
    <title>SongBuzz</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!--[if lt IE 9]>
        <script src="/components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng-repeat');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
        document.createElement('ng:repeat');
    </script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="/components/json3/lib/json3.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" media="all" href="/components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/components/jquery-ui/themes/base/jquery.ui.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/components/select2/select2.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body ng-controller="MainController">
<!-- Navbar -->
<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SongBuzz</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/index">Home</a>
            </li>
            <li>
                <a href="#/playlists">Playlists</a>
            </li>
            <li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">People <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/people">Search</a></li>
                        <li><a href="#/friends">My Friends</a></li>
                    </ul>
                </li>

            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li ng-hide="loggedIn">
                <a href="/login">Login</a>
            </li>
            <li class="dropdown" ng-hide="!loggedIn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{currentUser.picture}}" width="25" height="25">
                    {{currentUser.name}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </li>
        </ul>
    </div>

</nav>

<div class="container">
    <%- body %>
</div>

<!-- YouTube API -->
<script type="text/javascript">
// Broadcast the YouTube event to the PlayerService.
window.onYouTubeIframeAPIReady = function () {
    var checkAngularReady = function () {
        if(typeof angular !== 'undefined') {
            var scope = angular.element(document).scope();
            if (scope == undefined) {
                setTimeout(checkAngularReady, 250);
            } else {
                scope.$broadcast('ytPlayerAPIReady');
            }
        }
    }
    checkAngularReady();
};

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

</script>

<!-- A few key dependencies, linked in order -->

<!-- Bring in the socket.io client -->
<script type="text/javascript" src="/js/socket.io.js"></script>

<!-- then beef it up with some convenience logic for talking to Sails.js -->
<script type="text/javascript" src="/js/sails.io.js"></script>

<!-- listen on socket.io for incoming messages -->
<script type="text/javascript" src="/js/app.js"></script>

<!-- Supporting Libraries -->
<script type="text/javascript" src="/components/jquery/jquery.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/components/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="/components/select2/select2.js"></script>
<script type="text/javascript" src="/components/lodash/dist/lodash.js"></script>
<script type="text/javascript" src="/components/noty/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/components/noty/js/noty/layouts/top.js"></script>
<script type="text/javascript" src="/components/noty/js/noty/layouts/topRight.js"></script>
<script type="text/javascript" src="/components/noty/js/noty/layouts/bottom.js"></script>
<script type="text/javascript" src="/components/noty/js/noty/layouts/bottomRight.js"></script>
<script type="text/javascript" src="/components/noty/js/noty/themes/default.js"></script>
<script type="text/javascript" src="/components/bootbox/bootbox.js"></script>


<!-- Angular-related scripts -->
<script type="text/javascript" src="/components/angular/angular.js"></script>
<script type="text/javascript" src="/components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/components/angular-ui-sortable/src/sortable.js"></script>
<script type="text/javascript" src="/components/restangular/dist/restangular.js"></script>

<!-- Core application JavaScript -->
<script src="/js/songbuzzApp.js"></script>
<script src="/js/services/player_service.js"></script>
<script src="/js/services/playlist_rest_service.js"></script>
<script src="/js/services/people_rest_service.js"></script>
<script src="/js/directives/yt_select.js"></script>
<script src="/js/controllers/home_controller.js"></script>
<script src="/js/controllers/main_controller.js"></script>
<script src="/js/controllers/people_controller.js"></script>
<script src="/js/controllers/player_controller.js"></script>
<script src="/js/controllers/playlist_controller.js"></script>
<script src="/js/controllers/playlist_detail_controller.js"></script>


</body>
</html>
