<div class="row">
  <div class="col-12">

<h3>SongBuzzers</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th> <!-- image thumbnail -->
            <th>Buzzer</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in people">
            <td><img src="{{person.picture}}" width="48" heigth="48"/></td>
            <td><a href="#/people/{{person.id}}">{{person.name}}</a></td>
            <td>
                <button class="btn btn-sm btn-success" ng-click="addFriend($index)"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>&nbsp;
        </tr>
    </tfoot>
</table>

<!--
<div class="well">
    <p>Add Song</p>

    <div>
        <yt-autocomplete selection="selectedSong" list="doGetAutocomplete"></yt-autocomplete>
        <span>
          <button class="btn btn-success btn-sm" ng-click="doAddSelectedSong()" type="button"><i class="glyphicon glyphicon-plus"></i></button>
        </span>
    </div>
</div>
 -->

<!-- Disable debug info for now
<p>Debug Info</p>
<p>Saerch Terms: {{ytSearchParameter}}</p>
<p> Search Results:</p>
<p>{{searchResults}}</p>
<p>TBD: detail view for {{playlistId}}</p>
<p></p>
<p>{{playlist}}</p> -->
  </div>
</div>
