<div class="row">
    <div class="col-12">

        <h3>SongBuzzer: {{person.name}}</h3>

        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped">
                    <thead>
                    <th>Playlists</th>
                    <th width="48px">&nbsp;</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="playlist in playlists">
                        <td><a ng-click="choosePlaylist(playlist)">{{playlist.title}}</a></td>
                        <td><a href="#/playlists/{{playlist.id}}">Play</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-8">
                <div ng-show="currentPlaylist == null">
                    <h4>Choose a playlist</h4>
                </div>

                <div ng-show="currentPlaylist != null">
                    <h4>{{currentPlaylist.title}}</h4>
                    <table class="table table-striped">
                        <thead>
                            <th>&nbsp;</th>
                            <th>Song</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="song in currentPlaylist.songs">
                                <td><img src="{{song.thumbUrl}}" width="48" heigth="48"/></td>
                                <td>{{song.title}}</td>
                            </tr>
                            <tr ng-show="currentPlaylist.songs == undefined || currentPlaylist.songs < 1">
                                <td colspan="2">{{person.name}} has no songs in this playlist.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>
