<div class="row">
    <div class="col-lg-3">

        <h3>SongBuzzers</h3>

        <div class="row>">
            <div class="col-12-lg">


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <!-- image thumbnail -->
                        <th>Buzzer</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in people">
                        <td><img src="{{person.picture}}" width="48" heigth="48"/></td>
                        <td><a href="#/people/{{person.id}}">{{person.name}}</a></td>
                        <td>
                            <button class="btn btn-sm btn-success" ng-click="addFriend($index)"><i
                                    class="glyphicon glyphicon-plus"></i></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>&nbsp;
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-9">

        <h3>SongBuzzer: {{person.name}}</h3>

        <div class="row">
            <div class="col-lg-6">
                <table class="table table-striped">
                    <thead>
                    <th>Playlists</th>
                    <th width="48px">&nbsp;</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="playlist in playlists">
                        <td><a ng-click="choosePlaylist(playlist)">{{playlist.title}}</a></td>
                        <td><a href="#/playlists/{{playlist.id}}">Play</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <div ng-show="currentPlaylist == null">
                    <h4>Choose a playlist</h4>
                </div>

                <div ng-show="currentPlaylist != null">
                    <h4>{{currentPlaylist.title}}</h4>
                    <table class="table table-striped">
                        <thead>
                            <th>&nbsp;</th>
                            <th>Song</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="song in currentPlaylist.songs">
                                <td><img src="{{song.thumbUrl}}" width="48" heigth="48"/></td>
                                <td>{{song.title}}</td>
                            </tr>
                            <tr ng-show="currentPlaylist.songs == undefined || currentPlaylist.songs < 1">
                                <td colspan="2">{{person.name}} has no songs in this playlist.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>
