<div ng-controller="PlaylistListController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Playlists</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playlist in playlists | filter:query" ng-mouseenter="showRemovePlaylistButton = $index" ng-mouseleave="showRemovePlaylistButton = -1">
                <td>
                    <a href="#/playlists/{{playlist.id}}" ng-click="changePlaylist($index)">{{playlist.title}}</a> <span ng-show="isPlaying(playlist.id)" class="badge">Playing</span>
                </td>
                <td width="48px">
                    <button class="btn btn-xs btn-danger" ng-show="showRemovePlaylistButton == $index" ng-click="deletePlaylist(playlist)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">{{playlists.length}} playlists.</td>
            </tr>
            <tr>
                <!-- filter playlists -->
                <td colspan="2"><input ng-model="query" placeholder="filter playlists..."></td>
            </tr>
        </tfoot>
    </table>
    
    <p>Add Playlist</p>

    <form name="addPlaylistForm">
        <div class="input-group">
            <input ng-model="playlistTitle" placeholder="Enter new playlist name..." class="form-control" ng-required>
            <span class="input-group-btn">
                <button class="btn btn-primary btn-add-playlist" ng-click="addNewPlaylist()" ng-disabled="!playlistTitle.$valid"><i class="glyphicon glyphicon-plus icon-white"></i></button>
            </span>
        </div>
    </form>
</div>
