<div>
    <div ng-show="playlist == null" class="sb-no-playlist">
        <h1>No Playlist Selected</h1>
        <p>Please select a playlist from the left or create a new one.</p>
    </div>
    <div ng-hide="playlist == null">
        <div class="row" ng-show="isPlaylistModifiable()">
            <div class="col-lg-8"><input type="hidden" style="width: 95%" yt-select/></div>
            <div class="col-lg-2">
                <button class="btn btn-success btn-small" ng-disabled="!ytSelectSelected"
                        ng-click="doAddSelectedSong()">Add Song
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>{{playlist.title}}</h3>

                <h4>Playlists</h4>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <!-- image thumbnail -->
                        <th>Song</th>
                        <th><input ng-model="songFilter" placeholder="filter songs..."></th>
                        <!-- song actions -->
                    </tr>
                    </thead>
                    <tbody ui-sortable="{update: onPlaylistSorted, axis: 'y'}" ng-model="playlist.songs">
                    <tr ng-repeat="song in playlist.songs | filter:songFilter">
                        <td><img src="{{song.thumbUrl}}" width="48" heigth="48"/></td>
                        <td>{{song.title}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" ng-click="removeSong(song)" ng-show="isPlaylistModifiable()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#playlistMoveCopyModal" ng-click="prepSongToCopyMove(song)" ng-show="isPlaylistModifiable()">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>

                                <button class="btn btn-default btn-sm" ng-click="playSong(song)">
                                    <i class="glyphicon glyphicon-play"></i>
                                </button>
                            </div>

                            <span class="badge" ng-show="isPlayingSong(song)" ng-bind="playingBadgeText()"></span>
                        </td>
                    </tr>
                    <tr ng-hide="playlist.songs.length > 0">
                        <td colspan="4">No Songs in Playlist</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" ng-hide="playlist.songs.length < 1">{{playlist.songs.length}} songs.</td>
                        <td colspan="4" ng-hide="playlist.songs.length > 0">&nbsp;</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <form name="moveCopyModalForm">
    <div class="modal fade" id="playlistMoveCopyModal" tabindex="-1" role="dialog" aria-labelledby="playlistMoveCopyLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="playlistMoveCopyLabel">Move/Copy Song</h4>
                </div>
                <div class="modal-body">

                    <div class="radio" ng-repeat="playlist in playlists">
                        <label>
                            <input type="radio" name="playlistOptions" value="{{ playlist.id }}" ng-model="$parent.playlistToCopy">
                            {{ playlist.title }}
                        </label>
                    </div>

                    {{ playlistToCopy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="copySongToPlaylist()">Copy...</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="moveSongToPlaylist()">Move...</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </form>
</div>