<div ng-controller="PlaylistListController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">Playlists
                <input ng-model="query" placeholder="filter playlists..."></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playlist in playlists | filter:query" ng-mouseenter="showRemovePlaylistButton = $index" ng-mouseleave="showRemovePlaylistButton = -1" class="playlist-row">
                <td>
                    <a href="#/playlists/{{playlist.id}}" ng-click="changePlaylist($index)">{{playlist.title}}</a> <span ng-show="isPlaying(playlist.id)" class="badge">Playing</span>
                </td>
                <td class="btn-container-right">
                    <button class="btn btn-xs btn-danger" ng-show="showRemovePlaylistButton == $index" ng-click="deletePlaylist(playlist)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">{{playlists.length}} playlists.</td>
            </tr>
        </tfoot>
    </table>
    
    <h4>Add Playlist</h4>

    <form name="addPlaylistForm">
        <div class="input-group">
            <input ng-model="playlistTitle" placeholder="Enter new playlist name..." class="form-control" name="plTitle" required>
            <span class="input-group-btn">
                <button class="btn btn-primary btn-add-playlist" ng-click="addNewPlaylist()" ng-disabled="addPlaylistForm.plTitle.$invalid"><i class="glyphicon glyphicon-plus icon-white"></i></button>
            </span>
        </div>
    </form>
</div>
