<div>
    <div class="row playercontainer">
        <div class="col-md-1 col-xs-12">&nbsp;</div>
        <div class="col-md-6 col-xs-12" ng-controller="PlayerController">
            <div class="text-center">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm"
                            ng-click="playPreviousButton()">
                        <i class="glyphicon glyphicon-step-backward"></i>
                    </button>
                    <button id="player-pause-btn"
                            ng-class="{'btn':true, 'btn-sm':true, 'btn-default':true, 'active':pauseState}"
                            ng-click="pauseButton()">
                        <i class="glyphicon glyphicon-pause"></i>
                    </button>
                    <button id="player-stop-btn"
                            class="btn btn-default btn-sm"
                            ng-click="stopButton()">
                        <i class="glyphicon glyphicon-stop"></i>
                    </button>
                    <button id="player-play-btn"
                            ng-class="{'btn':true, 'btn-sm':true, 'btn-default':true, 'active':playState}"
                            ng-click="playButton()">
                        <i class="glyphicon glyphicon-play"></i>
                    </button>
                    <button class="btn btn-default btn-sm"
                            ng-click="playNextButton()">
                        <i class="glyphicon glyphicon-step-forward"></i>
                    </button>
                </div>
            </div>
            <div ng-click="progressBarClick($event)" class=" "
                 ng-class="{'progress':true, 'progress-striped':(playState||pauseState), 'active':playState}">
                <div class="progress-bar progress-bar-info "
                     ng-click="progressBarClick($event)"
                     style="{{ 'width: ' + progress + '%'}}">
                </div>
            </div>
            <div id="playingDescr">
                <span class="badge">Now Playing</span>: {{ getSongTitle() }} :: {{ friendlyDuration(getCurrentDuration()) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="text-center">
                <div id="player"></div>
            </div>
        </div>
        <div class="col-xs-12 col-md-1">
            &nbsp;
        </div>
    </div>
</div>
<div class="row pagecontainer">
    <div class="col-md-3">
        <!-- Playlist List -->
        <div ng-include src="'/partials/playlist-list.html'"></div>
    </div>
    <div class="col-xs-12 col-md-9">
        <!-- Playlist Detail -->
        <div ng-view></div>
    </div>
</div>

